<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <meta charset="utf-8">
  <meta name="description" content="A tool to edit your Twitter DM welcome message">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NPE's Twitter DM Tool</title>
</head>

<body>
<header>
  <!-- abusing the nav section to place source and social links -->
  <nav>
    <!-- logout button when authorized. -->
    {{^authorized?}}
      <div></div>{{/authorized?}}
    {{#authorized?}}<a href="/logout">[&nbsp;Logout&nbsp;]</a>{{/authorized?}}
    <small>
      Created by <a href="https://twitter.com/NPException">@NPException</a>.
      Built with <a href="https://clojure.org/">Clojure</a> and <a href="https://andybrewer.github.io/mvp/">MVP.css</a>.
      Source on <a href="https://github.com/NPException/twt-dm-tool">GitHub ↗</a>.
    </small>
  </nav>
  {{#authorized?}}
    <h1>Hi <b style="color:#3bbb10;">{{user-name}}</b>!</h1>
    <p>You can set, edit, or remove your default welcome message below.</p>
  {{/authorized?}}
  <!-- login section when not authorized yet -->
  {{^authorized?}}
    <h1>NPE's Twitter DM tools</h1>
    <div style="display: flex; justify-content: center;">
      <div style="width: 40em">
        <p>
          Currently this app only gives you the option to set/edit/delete a default welcome message for your direct messages.
          Click on the button below and give us permission to do these things on your behalf.
        </p>
        <small>
          <p>
            A small heads-up: Don't be scared by the huge range of permissions this app
            requires. Twitter only offers apps to choose from 3 different permission levels:
          </p>
          <p>
            1) Read Tweets and profile information<br>
            2) Read and Post Tweets and profile information<br>
            3) All of the above + direct messages<br>
          </p>
          <p>
            In order for this app to work, we need to request the highest level.
            If it was an option we would only request access to those we actually use.
          </p>
        </small>
        <a href="/authenticate"><b>Authorize with Twitter</b></a>
        <p>
          <small>
            Note: This page will keep your session open for 30 minutes
            since your last interaction with this site. No data will be kept after that,
            and you will have to authorize again if you wish to continue using this tool.
          </small>
        </p>
        <p>
          <small>
            We will not store any of your data, and will only do actions
            on your behalf as specified on this page.
          </small>
        </p>
      </div>
    </div>
  {{/authorized?}}
</header>
<!-- main section only visible when authorized -->
{{#authorized?}}
  <main>
    <section>
      <form action="/save-welcome-message" method="post">
        <!-- if the welcome-message-id is present, add it as a hidden input to allow for updating the existing message -->
        {{#welcome-message-id}}
          <input type="hidden" id="wm-id" name="welcome-message-id" value="{{welcome-message-id}}">
        {{/welcome-message-id}}
        <label for="wm-text">Your DM welcome message:</label>
        <textarea cols="40" rows="15" id="wm-text" name="welcome-message-text">{{welcome-message-text}}</textarea>
        <button type="submit">{{^welcome-message-id}}Save{{/welcome-message-id}}{{#welcome-message-id}}Update{{/welcome-message-id}}</button>
      </form>
    </section>
    <!-- delete link only visible when welcome message exists -->
    {{#welcome-message-id}}
      <section>
        <aside>
          <p>Clicking the link below will delete your welcome message:</p>
          <p>
            <a href="/delete-welcome-message/{{welcome-message-id}}" style="color: #ff4141">
              Delete my welcome message
            </a>
          </p>
        </aside>
      </section>
    {{/welcome-message-id}}
  </main>
{{/authorized?}}
</body>
</html>
